@page "/data"
@using ItilityInterview.Models
@using ItilityInterview.Services
@using System.Globalization
@inject HttpClient Http
@inject DataService dataService

<PageTitle>IPC</PageTitle>

<h1>Data Analysis on Industrial PC Underutilization</h1>

@if (listOfIpcData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h4>All IPC Data</h4>
    <table class="table">
        <thead>
            <tr>
                <th>IPC</th>
                <th>Factory</th>
                <th>Date</th>
                <th>AvgValue</th>
                <th>MinValue</th>
                <th>MaxValue</th>
                <th>Metric ID</th>
                <th>CpuMHz</th>
                @* <th>Avg Utilization (%)</th>
                <th>Peak Utilization (%)</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in dataITLT4301)
            {
                <tr>
                    <td>@item.IPC</td>
                    <td>@item.DataFactory</td>
                    <td>@item.Time.ToShortDateString()</td>
                    <td>@item.AvgValue</td>
                    <td>@item.MinValue</td>
                    <td>@item.MaxValue</td>
                    <td>@item.MetricID</td>
                    <td>@item.CpuMHz</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<IPCData> listOfIpcData = new List<IPCData>();
    List<IPCData> dataITLT4301 = new List<IPCData>();

    protected override async Task OnInitializedAsync()
    {
        listOfIpcData = await dataService.LoadDataAsync("sample-data/testcase_smart_applicator_V8.2_020823.zip.csv");
        // filter data for ITLT4301 IPC
        dataITLT4301 = listOfIpcData
            .Where(data => data.IPC.Trim().Equals("ITLT4301", StringComparison.OrdinalIgnoreCase))
            .ToList();
        // print all names of IPCs from csv data
        // remove duplicates
        var ipcNames = listOfIpcData.Select(data => data.IPC).Distinct().ToList();
        Console.WriteLine($"IPC count: {ipcNames.Count}");
        // print the first IPC string name
        Console.WriteLine($"IPC name: {ipcNames[0]}");
        // number of data points for ITLT4301 IPC
        Console.WriteLine($"IPC ITLT4301 count: {dataITLT4301.Count}");
    }
}    
