@page "/data"
@using MudBlazor
@using MudBlazor.Charts
@using BlazorInterview.Models
@using BlazorInterview.Services
@inject DataService DataService

<div>
    <p>Line Chart showcasing Industrial PC (IPC) with ID @IpcID</p>
    <p>An IPC is considered underutilized if its average utilization rate is below 50% and its peak utilization rate is below 75%.</p>
    <p>Peak utilization is shown in blue and average utilization is shown in green.</p>
    <p>Maximum CPU MHz: @maxCpuMHz</p>
    @* <p>Average Utilization Rate: @averageUtilizationRate.ToString("F2")%</p>
    <p>Peak Utilization Rate: @peakUtilizationRate.ToString("F2")%</p>
    @if (isUnderutilized)
    {
        <p style="color: green;">This IPC is underutilized.</p>
    }
    else
    {
        <p style="color: red;">This IPC is not underutilized.</p>
    } *@
</div>
<div>
    <MudChart ChartType="MudBlazor.ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="800" Height="350" ChartOptions="@Options"/>
</div>

@code 
{
    private string IpcID = "";
    private int maxCpuMHz = 0;
    private string csvFilePath = "sample-data/testcase_smart_applicator_V8.2_020823.zip.csv";
    private bool isUnderutilized = false;
    private List<ChartSeries> Series = new List<ChartSeries>();
    private string[] XAxisLabels = [];
    private int Index = -1;
    private ChartOptions Options = new ChartOptions();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        var data = await DataService.LoadDataAsync(csvFilePath);
        Series.Clear();
        @* Series.Add(new ChartSeries { Name = "Peak Utilization", Data = dataCpuMHz.Select(d => d.MaxValue).ToArray() });
        Series.Add(new ChartSeries { Name = "Average Utilization", Data = dataCpuMHz.Select(d => d.AvgValue).ToArray() }); *@
        // create x-axis labels, show every second entry
        XAxisLabels = data
            .Select((data, index) => index % 2 == 0 ? data.Time.ToString("dd") : "")
            .ToArray();
    }
}