@page "/pie"
@using MudBlazor
@using MudBlazor.Charts
@using BlazorInterview.Models
@using BlazorInterview.Services
@inject DataService DataService

<div>
    <p>Pie Chart showcasing Industrial PC (IPC).
        <br>An IPC is considered underutilized if its average utilization 
        rate is below @avgThreshold% and its peak utilization rate is below @peakThreshold%.
    </p>
    <div style="margin: 10px;">
        <p>Choose a Data Factory number that you would like to see the chart of</p>
        <InputSelect id="DataFactory" class="form-control" style="width: 200px" 
            @bind-Value="selectedFactory" 
            @onchange="OnFactorySelectionChange">
                @foreach (var factory in FactoryValues)
                {
                    <option value="@factory">@factory</option>
                }
        </InputSelect>
    </div>
</div>

@if (data.ContainsKey(selectedFactory))
{
    var facData = data[selectedFactory];
    <p>
        Data Factory @selectedFactory contains @facData.IpcCount unique IPCs
        <br>Out of which @facData.UnderutilizedCount are underutilized and @facData.NotUnderutilized are not underutilized.
    </p>
    <MudPaper Class="pa-4 mt-2 d-flex justify-center">
        <MudChart ChartType="ChartType.Pie" InputData="@facData.Data" @bind-SelectedIndex="Index" InputLabels="@labels" Width="300px" Height="300px" />
    </MudPaper>
    <MudText Typo="Typo.h6">Selected portion of the chart: @(Index >= 0 && Index < labels.Length ? labels[Index] : "None")</MudText>
}

@code {
    // Variables for data
    private List<IPCData> IpcData = new List<IPCData>();
    private int avgThreshold = 10;
    private int peakThreshold = 20;
    private string csvFilePath = "sample-data/testcase_smart_applicator_V8.2_020823.zip.csv";

    // Variables for pie chart
    private int Index = -1; // Default value cannot be 0 -> first selected index is 0.
    @* private string[] Index = new string[] { "Not Underutilized", "Underutilized" }; *@
    private Dictionary<int, DataClass> data = new Dictionary<int, DataClass>();
    string[] labels = { "Not Underutilized", "Underutilized"};
    
    // Variables for input select
    private int selectedFactory { get; set; }
    private List<int> FactoryValues = new List<int>();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        IpcData = await DataService.LoadDataAsync(csvFilePath);
        // Group data by Data Factory and IPC, calculate averages and take distinct CpuMHz values
        var groupedData = IpcData
            .GroupBy(d => new { d.DataFactory, d.IPC })
            .Select(ipcGroup => new IPCData
            {
                IPC = ipcGroup.Key.IPC,
                DataFactory = ipcGroup.Key.DataFactory,
                AvgValue = ipcGroup.Average(d => d.AvgValue),
                MaxValue = ipcGroup.Average(d => d.MaxValue),
                CpuMHz = ipcGroup.Select(d => d.CpuMHz).FirstOrDefault()
            })
            .ToList();

        // Get unique factory values
        FactoryValues = groupedData.Select(d => d.DataFactory).Distinct().ToList();
        foreach (var factory in FactoryValues)
        {
            LoadPieData(factory);
        }
    }

    private void LoadPieData(int selectedFactory)
    {
        var factoryData = IpcData
            .Where(d => d.DataFactory == selectedFactory)
            .GroupBy(d => d.IPC)
            .Select(ipcGroup => new 
            {
                IPC = ipcGroup.Key,
                AvgValue = ipcGroup.Average(d => d.AvgValue),
                MaxValue = ipcGroup.Average(d => d.MaxValue),
                CpuMHz = ipcGroup.Select(d => d.CpuMHz).FirstOrDefault()
            })
            .ToList();

        var uniqueCPUs = factoryData.Select(d => d.CpuMHz).Distinct().ToList();

        var uniqueIPCs = factoryData.Select(d => d.IPC).Distinct().ToList().Count();
        var underutilized = factoryData.Count(d => d.AvgValue / d.CpuMHz * 100 < avgThreshold && d.MaxValue / d.CpuMHz * 100 < peakThreshold);
        var notUnderutilized = factoryData.Count() - underutilized;
        Console.WriteLine($"Factory: {selectedFactory}, IPCs: {string.Join(", ", uniqueIPCs)}");
        Console.WriteLine($"Not underutilized: {notUnderutilized}, underutilized: {underutilized}");

        // load data 
        data[selectedFactory] = new DataClass
        {
            Data = new double[] { notUnderutilized, underutilized },
            IpcCount = uniqueIPCs,
            UnderutilizedCount = underutilized,
            NotUnderutilized = notUnderutilized
        };
    }

    private void OnFactorySelectionChange(ChangeEventArgs e)
    {
        selectedFactory = Convert.ToInt32(e.Value);
        LoadPieData(selectedFactory);
        StateHasChanged();
    }

    class DataClass
    {
        public double[] Data { get; set; }
        public int IpcCount { get; set; }
        public int UnderutilizedCount { get; set; }
        public int NotUnderutilized { get; set; }
    }
}
